$negro: #444444;
$naranja-positiva: #009dff;
$ui-primary: #3d4e5a;
$gris-fondo: #b9d1e0;
$blanco: #fafafa;
$borde-gris: #ddd;
$texto-oscuro: #384d6c;
$fondo-gris-item: #f5f5f5;

.menu {
  font-family: Helvetica, sans-serif;
}
ul#menu-list,
ul#menu-list ul {
  padding: 0;
  margin: 0;
  background-color: aliceblue;

}

ul#menu-list li.menu-item,
ul#menu-list div.sub-menu > ul > li {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

ul#menu-list li:hover,
ul#menu-list li.menu-item.item-open {
  background: $gris-fondo;
  border-right: 3px solid $naranja-positiva;
}

ul#menu-list .sub-menu {
  display: none;
  background-color: aliceblue;
}

ul#menu-list a {
  color: $texto-oscuro;
  padding: 10px 10px 10px 30px !important;
  display: block;
  font-size: 0.9em;
  text-decoration: none;
}

ul#menu-list a:hover {
  cursor: pointer;
}

ul#menu-list div.sub-menu a {
  font-size: 0.85em;
  text-decoration: none;
}

ul#menu-list li.menu-item:before {

  background: #fff;
  border-style: solid;
  border-color: $naranja-positiva;
  border-width: 4px;
  width: 10px;
  height: 10px;
  position: absolute;
  top: calc(50% - 5px);
  left: 10px;
  box-sizing: border-box;
}

ul#menu-list ul li:before {
  border-style: solid;
  border-color: transparent transparent transparent $negro;
  border-width: 5px;
  position: absolute;
  top: calc(50% - 5px);
  left: 20px;
}


#menu-title {
  padding: 15px;
  font-size: 1.2em;
  margin: 0;
  background: $fondo-gris-item;
  border-top: 1px solid $borde-gris;
  color: $texto-oscuro;
}


#menu-date {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 30px;
  color: $texto-oscuro;
  margin-top: 50px;
}
//}
